.container-dual{
    display: flex;
}
.sub-heading{
    text-align: center;
}

.sub-heading-txt2{
    font-size: 20px;
    font-family: "poppins";
    margin: 0px;
}
.contact-form-container{
    width: 50%;
    padding: 1rem;
}
.contact-form{
    font-family: "poppins";
    display:flex ;
    font-weight: 500;
    flex-direction: column;
}
.contact-form label{
    margin-left:6px;
}

.contact-form input{
    border-radius: 10px;
    height: 2rem;
    margin-bottom: 5px;
    padding: 2px;
    border: 3px solid #ccc;
}
.contact-form input:focus{
    border-color: #cd853f ;
    outline: none;
}
.contact-form input::placeholder,
.contact-form input::-webkit-input-placeholder {
     font-family: "poppins";
     padding: 1rem;
}

.contact-form textarea{
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 2px;
    font-family: "poppins";
    font-weight: 500;
    border: 3px solid #ccc;
}
.contact-form textarea:focus{
    border-color: #cd853f ;
    outline: none;
}
.contact-form textarea::placeholder{
    padding-left: 1rem;
}
.submit-btn{
    background-color: #cd853f;
    color:#fff ;
    font-weight: 600;
    font-family: "poppins";
    padding: 5px;
    border-radius: 20px;
    border: 2px;
    cursor: pointer;
    width: 100px;
    margin: 10px 0px;
}

.submit-btn:hover {
    background-color: #fff;
    color: #2f2c28;
    border: 3px solid #cd853f;
}

.contact-info{
    width: 50%;
}